<link rel="stylesheet" href="{{asset('assets/css/forms.css')}}">
<div class="container" style="text-align:center">



 
<h1>Reserver un voyage </h1>
 <div class="form-group">
 
  {{ form_label (form.dateDepart,"Date de départ:") }}
{{ form_widget(form.dateDepart,{'attr' : {'class':'form-control'}}) }}
{{ form_errors(form.dateDepart) }}

</div>

    
<br>
 <div class="form-group">
 
  {{ form_label (form.dateArrivee,"Date d'arrivée:") }}
{{ form_widget(form.dateArrivee,{'attr' : {'class':'form-control'}}) }}
{{ form_errors(form.dateArrivee) }}

</div>
<br>
 <div class="form-group">
 
  {{ form_label (form.idu,"Utilisateur:") }}
{{ form_widget(form.idu,{'attr' : {'class':'form-control'}}) }}
{{ form_errors(form.idu) }}

</div>
<br>
 <div class="form-group">
 
  {{ form_label (form.idv,"Voyage:") }}
{{ form_widget(form.idv,{'attr' : {'class':'form-control'}}) }}
{{ form_errors(form.idv) }}

</div>

<br>
    <button class="btn btn-success" >{{ button_label|default('Save') }}</button>
