 {% extends "base.html.twig" %} 
{% block body %}


 <br>
 <br>
    <br></br>
   
    <table class="table" id="tableac">
   
        <thead>
        
         <tr>
        <td>    <a href="{{ path('app_user_new') }}" class="btn btn-success">Ajouter</a>
</td>
        </tr>
            <tr>
                <th>Idu</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
          
                <th>Image</th>
                <th>Role</th>
                <th>Datenaissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.idu }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.email }}</td>
            
                <td>
                <img src="{{asset('assets/img/'~user.image)}}"
               </td>
                <td>{{ user.role }}</td>
                <td>{{ user.datenaissance ? user.datenaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'idu': user.idu}) }}"  class="btn btn-danger" >Afficher</a>
     <a href="{{ path('app_user_edit', {'idu': user.idu}) }}" class="btn btn-warning" >Modifier</a>

                </td>
            </tr>
          
        </div>
      
        {% endfor %}
          <tr>
           
       
          <td>  <div class="navigation">
            {{ knp_pagination_render(users) }}
        </td>
         </tr>
        
        </tbody>
       
    </table>


{% endblock %}