
  {% extends 'base.html.twig' %}


 

  
  {% block body %}

        <br>
      
<div class="container">

    <br><br>
<div style="text-align:center" >
 <form  action="" method="post">
 
    <p class="h3">Convertir vos devises</p>
          <select name="listDevises1" id="listDevises1" >  
                 

               {% for j in 0..valuee|length -1 %}
                <option value="{{keyy[j]}}" > {{valuee[j]}} </option> 
                  {% endfor %} 
                 </select> <br><br>

        <select name="listDevises2" id="listDevises2">  
          

               {% for j in 0..valuee|length -1 %}
               <option value="{{keyy[j]}}"   >  {{valuee[j]}} </option>
                {% endfor %}   
                 </select> <br><br>






   <input type="number" step="any" name="Montant" value="Montant" id="Montant" placeholder="Montant"><br><br>
   <input type="submit" name="submit" value="Convertir" class="btn-success">

{% if conversion != 0    %}
<div><br><p  style="text-align:center"><b  style="text-align:center;font-size:1.7em" class="bg-warning">Résultat = {{conversion}}</b></p></div>
 

   {% else    %}
   <p style="visibility:hidden"></p>

   {% endif %}
 
    </form>
    </div>

    <br><br>
    <div class="row clearfix">


      {% for vv in voyageOrganises %}
               




 
           
               
                     
                 

                       
                     

        <div class="col-lg-3 col-md-4 col-sm-12">

            <div class="card product_item">

                <div class="body">
                    <div class="cp_img" >
                        <img src="{{asset('assets/img/'~vv.imagePays)}}"  alt="Product" class="img-fluid">
                        <div class="hover">
                      
            {% if vv.etatvoyage=='DISPO' and vv.nbplaces>0 %}
             
         
           <a style="text-decoration:none;color:white" href="{{ path('indexRes', {'idv': vv.idv,'idu':813} ) }}"> <button type="submit" class="btn btn-primary btn-xs btn3d"> Réserver</button> </a>
             {% endif %}


            {%  if vv.etatvoyage=='INDISPO' or vv.nbplaces==0 %}
              
                <button type="button" disabled class="btn btn-primary btn-xs btn3d"> Réserver</button> {% endif %}
                
                        </div>
                    </div>
                    <div class="product_details">
                  
                      
                       <h5> <i class="fa fa-plane"></i> Compagnie : 
                        
                         {{vv.airline}}</h5>
                        <h5><i class="fas fa-map-marker-alt pr-1"></i>    {{vv.pays}} | <b style="color:blue">{{vv.prixBillet}} TND </b></h5>
                             
                      
                        <ul class="product_price list-unstyled">
                          


                              {% if vv.etatvoyage=='DISPO' %}
                        <span class="badge bg-success rounded-pill"> <b>{{vv.etatvoyage}} </b></span>  <span class="badge bg-secondary">{{vv.nbplaces}} place(s) restante(s)</span>

                        {% endif %}
                            {% if vv.etatvoyage=='INDISPO' %}
                        <span class="badge bg-danger rounded-pill"> <b>{{vv.etatvoyage}}</b></span>           <span class="badge bg-secondary">{{vv.nbplaces}} place(s) restante(s)</span>

                        {% endif %}
                        {{vv.idv}}
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>

         

   



  {% endfor %}

    </div>
</div>

<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6263642b7b967b11798c1626/1g1a3ujgr';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
 

{% endblock %}