
  {% extends 'base.html.twig' %}


 

  
  {% block body %}

        <br>
      
<div class="container">

    <div class="row clearfix">

      {% for vv in voyageOrganises %}
        <div class="col-lg-3 col-md-4 col-sm-12">

            <div class="card product_item">

                <div class="body">
                    <div class="cp_img" >
                        <img src="{{asset('assets/img/'~vv.imagePays)}}"  alt="Product" class="img-fluid">
                        <div class="hover">
                      
            {% if vv.etatvoyage=='DISPO' %}
             
         
           <a style="text-decoration:none;color:white" href="{{ path('indexRes', {'idv': vv.idv,'idu':26} ) }}"> <button type="button" class="btn btn-primary btn-xs btn3d"> Réserver</button> </a>
             


            {% else %}
              
                <button type="button" disabled class="btn btn-primary btn-xs btn3d"> Réserver</button> {% endif %}
                
                        </div>
                    </div>
                    <div class="product_details">
                  
                      
                       <h5> <i class="fa fa-plane"></i> Compagnie : 
                        
                         {{vv.airline}}</h5>
                        <h5><i class="fas fa-map-marker-alt pr-1"></i>    {{vv.pays}} | <b style="color:blue">{{vv.prixBillet}} TND </b></h5>
                             
                      
                        <ul class="product_price list-unstyled">
                          


                              {% if vv.etatvoyage=='DISPO' %}
                        <span class="badge bg-success rounded-pill"> <b>{{vv.etatvoyage}} </b></span>  <span class="badge bg-secondary">{{vv.nbplaces}} place(s) restante(s)</span>

                        {% endif %}
                            {% if vv.etatvoyage=='INDISPO' %}
                        <span class="badge bg-danger rounded-pill"> <b>{{vv.etatvoyage}}</b></span>           <span class="badge bg-secondary">{{vv.nbplaces}} place(s) restante(s)</span>

                        {% endif %}
                        
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>

         

   



  {% endfor %}

    </div>
</div>




{% endblock %}