 {% extends 'base.html.twig' %}
 {% block body %}
<html>
    <head>
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"   />
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"  ></script>
   
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" >

                <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"  ></script>
    </head>
  
    <style>
        html, body { height: 100% }
        #map{
       width: 109%;
    height: 80%;
    position: fixed;
    outline: none;
    margin-left: -0.5%;
    margin-right: -8.5%;
    margin-top: 5.5%;
        }
    </style>
  <div style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">
   <div id="map" style="width: 100%; height: 100%"></div>

</div>
     
</html>
{% block javascript %}
<script type="text/javascript">
    let map = L.map("map").setView([ 33.892166, 9.561555499999997], 5);
  var osmLayer = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
map.addLayer(osmLayer);
 {% for c in voyageCoord %}
 
    L.marker([{{c.latitude}},{{c.longitude}}]).
    bindPopup("<b style='color:blue'>Pays:</b> {{c.pays}}<br> <br> <img src='{{asset('assets/img/'~c.imagePays)}}'>  <br><br><b style='color:blue'>Compagnie:</b> {{c.airline}}  <br><br><b style='color:blue'>Nombre de places :</b> {{c.nbplaces}}  <br><br><b style='color:blue'>Etat voyage:</b> {{c.etatvoyage}} <br><br><b style='color:blue'>Prix billet:</b>{{c.prixBillet}}DT").on('click', markerOnClick).addTo(map);
      
         {% endfor %}

 function markerOnClick(e)
{

map.closePopup();
    var myWindow = window.open("", "MsgWindow", "width=500,height=550");
        let popup = e.target.getPopup();
        var content = popup.getContent();

   myWindow.document.write(content);
  

}
 
map.on("touchstart", function(e) {
  console.log("map touchstart");
  console.log(e);
});

let editableLayers = new L.FeatureGroup();
map.addLayer(editableLayers);

let drawControl = new L.Control.Draw({
  position: "topright",
  draw: {
    polyline: false,
    polygon:false,
    circle: false,
    circlemarker: false,
    rectangle: {
      shapeOptions: {
        clickable: true
      }
    },
    marker: true
  } 
});

     
map.addControl(drawControl);

map.on(L.Draw.Event.CREATED, function(e) {
   let  type = e.layerType;
  let layer = e.layer;
  editableLayers.addLayer(layer);
 

if (layer instanceof L.Marker) { 

          var lat = layer.getLatLng().lat;
          var lng = layer.getLatLng().lng;
 
           var myWindow = window.open("", "MsgWindow", "width=500,height=520");
  myWindow.document.write(
      "<form method='post' name='flam' action=''  style='text-align:center'><h1 style='text-align:center'>Placer les informations</h1><br> Latitude : <input type='text' name='lat' id='lat' value ="+layer.getLatLng().lat+"  />  <br><br>Longitude : <input type='text' name='lng' id='lng' value ="+layer.getLatLng().lng+"  /> <br><br> Compagnie: <input type='text'  name='airline' id='airline'>  <br><br> Prix billet : <input type='number' step='any' name='prixBillet' id='prixBillet'><br><br> Nb de places :<input type='number' name='nbplaces' id='nbplaces'><br><br>Etat :<select name='etatvoyage' id='etatvoyage'>  <option value='DISPO'   > Disponible  </option> <option value='INDISPO'   > Inisponible  </option> </select> <br><br>Voyage : <select name='idv' id='idv'>   {% for voyage in voyages %} <option value={{voyage.idv}}   > {{voyage.pays}}  </option> {% endfor %}</select><br><br>  <input type='submit' name='submit' value='Ajouter les coordonnées' style='background-color:lightblue' ></form>" )


 
}


 

});



</script>
 {% endblock %}
 

{% endblock %}