<{% extends 'base.html.twig' %}

{% block title %}VoyageOrganise index{% endblock %}

{% block body %}
    <h1>VoyageOrganise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idvo</th>
                <th>PrixBillet</th>
                <th>Airline</th>
                <th>NbNuitees</th>
                <th>Nbplaces</th>
                <th>Etatvoyage</th>
                <th>Voyage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage_organise in voyage_organises %}
            <tr>
                <td>{{ voyage_organise.idvo }}</td>
                <td>{{ voyage_organise.prixBillet }}</td>
                <td>{{ voyage_organise.airline }}</td>
                <td>{{ voyage_organise.nbNuitees }}</td>
                <td>{{ voyage_organise.nbplaces }}</td>
                <td>{{ voyage_organise.etatvoyage }}</td>
                           <td>{{ voyage_organise.idv }}</td>
                <td>
                    <a href="{{ path('app_voyage_organise_show', {'idvo': voyage_organise.idvo}) }}">show</a>
                    <a href="{{ path('app_voyage_organise_edit', {'idvo': voyage_organise.idvo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_organise_new') }}">Create new</a>
{% endblock %}
>