{% extends 'base.front.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}



    <main id="main" class="main">
        <br>
       <center>  <br> <h1>Evenements </h1> </center>



        <table class="table">
            <thead>

            <td>

                {{ form_start(form) }}
                <div class="form-row align-items-end" >
                    <div class="col">
                        {{ form_row(form.chanteur) }}
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Rechercher</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}


            </td>


            <tr>
                <th>TypeEvent</th>
                <th>Chanteur</th>
                <th>Adresse</th>
                <th>DateEvent</th>
                <th>PrixE</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.typeEvent }}</td>
                    <td>{{ evenement.chanteur }}</td>
                    <td>{{ evenement.adresse }}</td>
                    <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d') : '' }}</td>
                    <td>{{ evenement.prixE }}</td>
                    <td>{{ evenement.image }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



    </main>
{% endblock %}
