
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
<div class="container">

    {{ form_start(form, {'attr' : {'novalidate':'novalidate'}})}}

    <div class="form-group">

        {{ form_label (form.typeEvent,"Le type de l'evenement:") }}
        {{ form_widget(form.typeEvent,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.typeEvent) }}
    </div>

    <div class="form-group">
    {{ form_label (form.chanteur,"Le chanteur de l'evenement:") }}
    {{ form_widget(form.chanteur,{'attr' : {'class':'form-control'}}) }}
    {{ form_errors(form.chanteur) }}
</div>

    <div class="form-group">
        {{ form_label (form.adresse,"L'adresse de l'evenement:") }}
        {{ form_widget(form.adresse,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.adresse) }}
    </div>

    <div class="form-group">
        {{ form_label (form.dateEvent,"La date de l'evenement:") }}
        {{ form_widget(form.dateEvent,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.dateEvent) }}
    </div>

    <div class="form-group">
        {{ form_label (form.dateend,"La date fin de l'evenement:") }}
        {{ form_widget(form.dateend,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.dateend) }}
    </div>

    <div class="form-group">
        {{ form_label (form.prixE,"Le prix de l'evenement:") }}
        {{ form_widget(form.prixE,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.prixE) }}
    </div>

    <div class="form-group">
        {{ form_label (form.imageFile,"Image:") }}
        {{ form_widget(form.imageFile,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>


    {{ form_widget(form) }}
    <button class="btn btn-success" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
