{% extends 'base.admin.html.twig' %}

{% block title %}ReservationHotel index{% endblock %}

{% block body %}




    <!-- ======================= Start Invoice ===================== -->
    <section class="dashboard gray-bg padd-0 mrg-top-50">
        <div class="container-fluid">
            <div class="row">

               
                    <!-- /. NAV SIDE  -->
                </div>

                <div class="col-lg-10 col-md-10 col-sm-9 col-lg-push-2 col-md-push-2 col-sm-push-3">
                    <div class="row mrg-0 mrg-top-20">
                        <div class="tr-single-box">
                            <div class="tr-single-header">
                                <h1 class="dashboard-title">Reservation Hotel</h1>
                            </div>
                            <div class="tr-single-body">

                                <div class="detail-wrapper padd-top-30 padd-bot-30">

                                   
                                    <div class="row mrg-0">
                                        <div class="col-md-6">
                                            <div id="logo"><img src="assets/img/logo.png" class="img-responsive" alt=""></div>
                                        </div>


                                    </div>

                                    <div class="row  mrg-0 detail-invoice">
<center>
                                        <div class="col-md-12">
                                            <h4>Metatrip Liste reservation</h4>
                                        </div>
</center

                                        <hr />

                                        
                                        <a href="{{ path('app_reservation_hotel_new') }}" class="btn theme-btn">Create new</a>
                                        <br>
                                        <br>
                                        <div id="calendar-holder">
                                        <button type="button" class="btn theme-btn" data-target="#showCalendar"> Show Calendar </button>
                                         </div>
                                        <hr>
                                        <div align="right">
                                          <a href="{{ path('pdfreservation') }}">Generate PDF</a>
                                          </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-advance table-hover">
                                                    <script src="{{ asset('js/jquery.min.js') }}"></script>
                                                      <table id="tableac" class="table table-striped table-advance table-hover">
                                                        <thead>
                                                        <tr>
                                                            
                                                             <th>NbNuitees</th>
                                                              <th>Prix</th>
                                                           <th>NbPersonnes</th>
                                                            <th>DateDepart</th>
                                                            <th>DateArrivee</th>



                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                         {% for reservation_hotel in reservation_hotels %}

                                                            <tr>
                                                                
                                                           <td>{{ reservation_hotel.nbNuitees }}</td>
                                                           <td>{{ reservation_hotel.prix }}</td>
                                                             <td>{{ reservation_hotel.nbPersonnes }}</td>
                                                        
                                                           <td>{{ reservation_hotel.dateDepart ? reservation_hotel.dateDepart|date('Y-m-d') : '' }}</td>
                                                            <td>{{ reservation_hotel.dateArrivee ? reservation_hotel.dateArrivee|date('Y-m-d') : '' }}</td>
                                                                <td>
                                                                    <a href="{{ path('app_reservation_hotel_show', {'idrh': reservation_hotel.idrh}) }}" class="btn theme-btn">Show </a>
                                                                    <a href="{{ path('app_reservation_hotel_edit', {'idrh': reservation_hotel.idrh}) }}" class="btn theme-btn">Edit </a>
                                                                
                                                                </td>
                                                            </tr>

                                                        {% else %}
                                                            <tr>
                                                                <td colspan="4">no records found</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                    
                                                </div>
                                                 



                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ======================= End  Invoice===================== -->



















   
{% endblock %}
