    <link rel="stylesheet" href="{{ asset('css/login.css')}}">
        <link rel="stylesheet" href="{{ asset('css/test.scss')}}">
   <body>
       <!--header-->

    <!--end header-->
    <div class="container">

                     <div class="form-signin-heading" >
<h1 class="form-signin-heading">Inscription sur le site</h1>
{{ form_start(form, {'attr' : {'novalidate':'novalidate','class':'form-signin'}})}}
{{ form_widget(form)}}
<button type="submit" class="btn btn-success">Comfirmer</button>
<button class="material-bubble">Connexion</button>
{{ form_end(form)}}
</div>
   </div>
   </div>
     
    <br>
                    <!--
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe" i18n> Remember me
                    </label>
                    <br>
                    -->
                    <br>
                    <br>
            
                    <br>
                   
                     </div>