{% extends 'base.admin.html.twig' %}


{% block title %}New VoyageVirtuel{% endblock %}

{% block body %}
    <!-- ======================= Start Add Hotel ===================== -->
    <section class="dashboard gray-bg padd-0 mrg-top-50">
        <div class="container-fluid">
            <div class="row">

                
                    <!-- /. NAV SIDE  -->
                </div>

                <div class="col-lg-10 col-md-10 col-sm-9 col-lg-push-2 col-md-push-2 col-sm-push-3">
                    <div class="row mrg-0 mrg-top-20">
                        <div class="tr-single-box">
                            <div class="tr-single-header">
                                <h3 class="dashboard-title">New room</h3>
                            </div>
                            <div class="tr-single-body">
                                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

                                <form id="msform">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active">ADD Information</li>
                                      
                                    </ul>
                                    <!-- fieldsets -->
  <!-- fieldsets -->

                                    <fieldset>

                                      
                                        <div class="row">

                                            <div class="col-xs-6">
                                                <label>numc </label>
                                                {{ form_widget(form.numc, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                            {{ form_errors(form.numc,{'attr':{'class':'text-danger'}}) }}



                                          <div class="col-xs-6">
                                                <label>Image</label>
                                                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                            {{ form_errors(form.image,{'attr':{'class':'text-danger'}}) }}



                                            <div class="col-xs-6">
                                                <label>Type</label>
                                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                            {{ form_errors(form.type,{'attr':{'class':'text-danger'}}) }}


                                            <div class="col-xs-6">
                                                <label>Etat</label>
                                                {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                            {{ form_errors(form.etat,{'attr':{'class':'text-danger'}}) }}



                                            <div class="col-xs-6">
                                                <label>Prix</label>
                                                {{ form_widget(form.prixc, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                            {{ form_errors(form.prixc,{'attr':{'class':'text-danger'}}) }}

                                            <div class="col-xs-6">
                                                <label>Hotel</label>
                                                {{ form_widget(form.idh, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                            {{ form_errors(form.idh,{'attr':{'class':'text-danger'}}) }}
















                                        </div>

                                        {{ form_widget(form.Add, {'attr': {'class': 'btn theme-btn'}}) }}
                                 

                                    </fieldset>
                {{ form_rest(form) }}
                                </form>
                                 

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ======================= End  Add Hotel===================== -->




    {{ include('chambre/_form.html.twig') }}

    <a href="{{ path('app_chambre_index') }}">back to list</a>
    
{% endblock %}
