
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
<div class="container">

    {{ form_start(form, {'attr' : {'novalidate':'novalidate'}})}}

    <div class="form-group">

        {{ form_label (form.nbPers,"Le nombre des personnes ") }}
        {{ form_widget(form.nbPers,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.nbPers) }}
    </div>

    <div class="form-group">

        {{ form_label (form.idu,"Le cin de user") }}
        {{ form_widget(form.idu,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.idu) }}
    </div>

    <div class="form-group">

        {{ form_label (form.ide,"L'evenemnt ") }}
        {{ form_widget(form.ide,{'attr' : {'class':'form-control'}}) }}
        {{ form_errors(form.ide) }}
    </div>


        <div class = "row"
             <div class="col-md-4" >
                 <div class="form-group">
            <label for="controlnput"> Are you robot ? </label>
                 {{ form_widget(form.captchaCode, {'attr' : {'class':'form-control'}}) }}


                 </div>
    </div>


    {% set formErrors = form.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}
    <div class="alert alert-danger" >
        <ul>
        {%  for error in formErrors %}
        <li>
            {{ error.message }}
        </li>

            {% endfor %}
        </ul>
    </div>
    {% endif %}



    <button class="btn btn-success" >{{ button_label|default('Save') }}</button>


    {{ form_end(form) }}
