  

 

<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
<div class="container">


{{ form_start(form, {'attr' : {'novalidate':'novalidate'}})}}

 <div class="form-group">
 
  {{ form_label (form.pays,"Pays:") }}
{{ form_widget(form.pays,{'attr' : {'class':'form-control'}}) }}
{{ form_errors(form.pays) }}
</div>
 <div class="form-group">
 
  {{ form_label (form.imageFile,"image:") }}
{{ form_widget(form.imageFile,{'attr' : {'class':'form-control'}}) }}
{{ form_errors(form.imageFile) }}

</div>
    



    <button class="btn btn-success" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

