 {% extends "base.html.twig" %} 
  {% block body%}

 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    
<div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <br>
              <h3>Liste de nos voyages  </h3>
              <div class="line"></div>
            </div>
          </div>
        </div>


        <div class="row">
     
       {% for voyage in voyages %}
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"> 
              <img src="{{asset('assets/img/'~voyage.imagePays)}}" style="height:20em;width:20em">
                <!-- Social Info-->
                <div class="social-info">
                <a href="{{ path('app_voyage_edit', {'idv': voyage.idv}) }}"><i class="fa fa-edit"></i></a>
                <a href="{{ path('app_voyage_delete', {'idv': voyage.idv}) }}"><i class="fa fa-trash"></i></a>
                   {{ include('voyage/_delete_form.html.twig') }}

                </div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>ID Voyage: {{ voyage.idv }}</h6>
                <p class="designation">Pays: {{ voyage.pays }}</p>
              </div>
            </div>
          </div>
 
          {% endfor  %}
        </div>


      </div>
 


{% endblock %}
